<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-light  navbar-expand-md">
    <div class="container">
      <a href="index.html" class="navbar-brand">
        <img src="assets/img/backpack.svg" alt="">
      </a>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2 input-large" type="search" placeholder="Search" aria-label="Search">
      </form>
      <div>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a href="help.html" class="nav-link">help</a>
          </li>
          <li class="nav-item">
            <a href="login.html" class="nav-link">log in</a>
          </li>
          <li class="nav-item">
            <a href="singup.html" class="nav-link">sign up</a>
          </li>
          <li class="nav-item">
            <a href="singup.html" class="nav-link btn btn-outline-success">Become a Traveler</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!--carousel--> 
    <div id="myCarousel" class="carousel slide" data-ride="carousel">

      <!-- Indicators -->
      <ul class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ul>
      
      <!-- The slideshow -->
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="assets/img/1pic.jpg" alt="Los Angeles" width="1100" height="500">
        </div>
        <div class="carousel-item">
          <img src="assets/img/2pic.jpg" alt="Chicago" width="1100" height="500">
        </div>
        <div class="carousel-item">
          <img src="assets/img/3pic.jpg"alt="New York" width="1100" height="500">
        </div>
      </div>
      
      <!-- Left and right controls -->
      <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#myCarousel" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>
    <!--coustomer-->
    <div>
    <h1>What customers and press say about Backpack</h1>
    <div id="tesmonialCarousel" class="carousel slide" data-ride="carousel">

      <!-- Indicators -->
      <ul class="carousel-indicators">
        <li data-target="#tesmonialCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#tesmonialCarousel" data-slide-to="1"></li>
        <li data-target="#tesmonialCarousel" data-slide-to="2"></li>
      </ul>
      
      <!-- The slideshow -->
      <div class="carousel-inner">
        <div class="carousel-item active">
            <blockquote class="lead">Excellent customer service and delivery time. I ordered Amazon items the last few times - Backpack’s service exceeded expectations every time in every way.
                traveler-pro-pic</blockquote>
                <img src="assets/img/4pic.jpg" class="img-circle" alt="">
        </div>
        <div class="carousel-item">
            Excellent customer service and delivery time. I ordered Amazon items the last few times - Backpack’s service exceeded expectations every time in every way.
            traveler-pro-pic
            Sarah Karim Rahman
            Backpack Shopper
        </div>
        <div class="carousel-item">
            Excellent customer service and delivery time. I ordered Amazon items the last few times - Backpack’s service exceeded expectations every time in every way.
            traveler-pro-pic
            Sarah Karim Rahman
            Backpack Shopper
        </div>
      </div>
      
      <!-- Left and right controls -->
      <a class="carousel-control-prev" href="#tesmonialCarousel" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#tesmonialCarousel" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>
  </div>
  <div>
    <div class="row">
      <div class="col-md-6">]
        <h1>im rojony khatun</h1>

      </div>
    </div>
  </div>
  