<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-light  navbar-expand-md">
  <div class="container">
    <a href="index.html" class="navbar-brand">
      <img src="assets/img/backpack.svg" alt="">
    </a>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2 input-large" type="search" placeholder="Search" aria-label="Search">
    </form>
    <div>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a href="help.html" class="nav-link">help</a>
        </li>
        <li class="nav-item">
          <a href="login.html" class="nav-link">log in</a>
        </li>
        <li class="nav-item">
          <a href="singup.html" class="nav-link">sign up</a>
        </li>
        <li class="nav-item">
          <a href="singup.html" class="nav-link btn btn-outline-success">Become a Traveler</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
<section id="footer" class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <h2>backpack</h2>
            <ul class="list-group">
                <li class="list-group-item fa fa-star">Cras justo odio</li>
                <li class="list-group-item fa facilisis">Dapibus ac facilisis in</li>
                <li class="list-group-item fa fa-asterisk">Morbi leo risus</li>
                <li class="list-group-item fa fa-automobile">Porta ac consectetur ac</li>
                <li class="list-group-item fa fa-heart">Vestibulum at eros</li>
              </ul>
              
        </div>
        <div class="col-md-3">
          <h2>Travel</h2>
            <ul class="list-group">
                <li class="list-group-item fa fa-heart">Cras justo odio</li>
                <li class="list-group-item fa fa-at">Dapibus ac facilisis in</li>
                <li class="list-group-item fa fa-asterisk">Morbi leo risus</li>
                <li class="list-group-item fa fa-automobile">Porta ac consectetur ac</li>
                <li class="list-group-item fa fa-heart">Vestibulum at eros</li>
              </ul>
              
        </div>
        <div class="col-md-3">
          <h2>Account</h2>
           <ul class="list-group">
            <li class="list-group-item fa fa-asterisk">Cras justo odio</li>
            <li class="list-group-item fa fa-asterisk">Dapibus ac facilisis in</li>
            <li class="list-group-item fa fa-asterisk">Morbi leo risus</li>
            <li class="list-group-item fa fa-automobile">Porta ac consectetur ac</li>
            <li class="list-group-item fa fa-heart">Vestibulum at eros</li>
          </ul>
        </div>
        <div class="col-md-3">
          <h2>Help</h2>
            <ul class="list-group">
                <li class="list-group-item fa fa-star">Cras justo odio</li>
                <li class="list-group-item fa fa-asterisk">Dapibus ac facilisis in</li>
                <li class="list-group-item fa fa-asterisk">Morbi leo risus</li>
                <li class="list-group-item fa fa-automobile">Porta ac consectetur ac</li>
                <li class="list-group-item fa fa-heart">Vestibulum at eros</li>
              </ul>
        </div>
      </div>

    </div>

  </section>
  <br>
  <hr>
  <!--footer navigation-->
  <nav class="navbar navbar-light  navbar-expand-md">
      <div class="container" >
        <div>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a href="help.html" class="nav-link">Care </a>
            </li>
            <li class="nav-item">
              <a href="login.html" class="nav-link">  About</a>
            </li>
            <li class="nav-item">
              <a href="singup.html" class="nav-link">   Terms</a>
            </li>
            <li class="nav-item">
                <a href="singup.html" class="nav-link">Site Max</a>
                    
              </li>
              <li class="nav-item">
                  <a href="singup.html" class="nav-link"> Max</a>
                      
                </li>

          </ul>
        </div>
      </div>
    </nav>