<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-light  navbar-expand-md">
  <div class="container">
    <a href="index.html" class="navbar-brand">
      <img src="assets/img/backpack.svg" alt="">
    </a>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2 input-large" type="search" placeholder="Search" aria-label="Search">
    </form>
    <div>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a href="help.html" class="nav-link">help</a>
        </li>
        <li class="nav-item">
          <a href="login.html" class="nav-link" data-toggle="modal" data-target="#logInModal">log in</a>
        </li>
        <li class="nav-item">
          <a href="singup.html" class="nav-link" data-toggle="modal" data-target="#signUpModal">sign up</a>
        </li>
        <li class="nav-item">
          <a href="singup.html" class="nav-link btn btn-outline-success">Become a Traveler</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
<section id="footer" class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <h2>backpack</h2>
            <ul class="list-group" *ngFor='let item of menu?.Backpack'>
                <li class="list-group-item fa {{item?.Icon}}">{{item?.Name}}</li>
              </ul>
            
              <a href="" class="btn btn-outline-success mt-4 "> <i class="fa {{socialLink[0].Icon}}"></i> {{socialLink[0].Label}}</a>
              
        </div>
     
        <div class="col-md-3">
          <h2>Travel</h2>
            <ul class="list-group" *ngFor='let item of menu?.Travel'>
                <li class="list-group-item fa {{item?.Icon}}">{{item?.Name}}</li>
                
              </ul>
              
              
        </div>
        <div class="col-md-3">
          <h2>Account</h2>
           <ul class="list-group"*ngFor='let item of menu?.Account'>
            <li class="list-group-item fa {{item?.Icon}}">{{item?.Name}}</li>
            
          </ul>
        </div>
        <div class="col-md-3">
          <h2>Help</h2>
            <ul class="list-group"*ngFor='let item of menu?.Help'>
                <li class="list-group-item fa {{item?.Icon}}">{{item?.Name}}</li>
                
              </ul>
        </div>
      </div>

    </div>

  </section>
  <br>
  <hr>
  
  
  <!--footer navigation-->
  <nav class="navbar navbar-light  navbar-expand-md ">
      <div class="container" >
        <div>
          <ul class="navbar-nav">
            <li class="nav-item" *ngFor='let item of footerNavbar'>
              <a href="{{ item.Url}}" class="nav-link">{{item.Label}} </a>
            </li>
            
          </ul>
        </div>
      </div>
    </nav>
   
    <!--log in -->
        <!-- The Modal -->
        <div class="modal fade" id="logInModal">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          <div class="modal-dialog modal-sm">
            <div class="modal-content">  
                        <div class="card">
                          <div class="card-body">
                            <h4 class="card-title text-center">Log in to continue</h4>
                            <a href="" class="btn btn-block btn-primary"><i class="fa fa-facebook-f"></i> find the on facebook</a>
                            <div class="form-group mt-2">
                              <input type="Gmail" placeholder="Gmail address" class="form-control">
                            </div>
                            <div class="form-group mt-2">
                                <input type="password" placeholder="password" class="form-control">
                              </div>
                              <a href="" class="btn btn-block text-left"><i class="fa fa-cut"></i> remember me </a>
                              <a href="" class="btn btn-block btn-success">log in me</a>
                              
                              <a href="" class="btn btn-block text-left">forgot password?</a>
                              
                                <a href="" class="btn btn-block text-left"> sing up Account</a>
                          </div>
                                
                        </div>   
            </div>
          </div>
        </div>
         <!--sign up -->
        <!-- The Modal -->
        <div class="modal fade" id="signUpModal">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <div class="modal-dialog modal-sm">
              <div class="modal-content">  
                          <div class="card">
                            <div class="card-body">
                              <h4 class="card-title text-center">sign up to continue</h4>
                              <a href="" class="btn btn-block btn-primary"><i class="fa fa-facebook-f"></i> find the on facebook</a>
                              <div class="form-group mt-2">
                                  <input type="text" placeholder="Full name " class="form-control">
                                </div>
                              <div class="form-group mt-2">
                                <input type="Gmail" placeholder="Gmail address" class="form-control">
                              </div>
                              <div class="form-group mt-2">
                                  <input type="password" placeholder="password" class="form-control">
                                </div>
                                <a href="" class="btn btn-block text-left"><i class="fa fa-cut"></i> remember me </a>
                                <a href="" class="btn btn-block btn-success">log Up me</a>
                                
                                <a href="" class="btn btn-block text-left">forgot password?</a>
                                
                                  <a href="" class="btn btn-block text-left"> sing up Account</a>
                                  
                            </div>
                                  
                          </div>   
              </div>
              
            </div>
            
          </div>
        
   
      