/* You can add global styles to this file, and also import other style files */

#products{
    background-color:#D7FFFF;
}
#info{
    background-color: #D7FFFF;
}
#button{
    background-color: #D7FFFF;
}