.bg-right{
    background: url("/assets/img/16pic.jpg");
    height: 300px;
    width: 300x;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; 
}

.bg-left{
    background: url("/assets/img/16pic.jpg");
    height: 300px;
    width: 300x;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.link{
    list-style: none;
  a{
      color: #fff;

  }  
}
#carouselExampleControls{
    margin-top: 20px;
    height: 200px;
    h3{
        font-size: 27px;
        font-weight: 700px;


    }

    .carousel-indicators{
        li{
            width: 10px !important;
            height: 10px !important;
            background-color: black !important;
            border-radius: 100%
        }
       
    }
    img{
            
            vertical-align: middle;
            width: 50px;
            height: 50px;
            border-radius: 50%;
         
    }
   

}
#valentineDayGift{
    img{
        width: 100%;
        
       
    }
}
#valentineGift{
    img {
        width: 100%;
        border-radius: 50%;
    }
}

    

