.bg-right{
    background: url("/assets/img/16pic.jpg");
    height: 300px;
    width: 300x;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; 
}

.bg-left{
    background: url("/assets/img/16pic.jpg");
    height: 300px;
    width: 300x;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.link{
    list-style: none;
  a{
      color: #fff;

  }  
}
#carouselExampleControls{
    .carousel-indicators{
        width: 3px !important;
        height: 3px !important;
        background-color: black !important;
        border-radius: 50%
    }
    img{
            
            vertical-align: middle;
            width: 50px;
            height: 50px;
            border-radius: 50%;
         
    }

}
    

