.bg-right{
    background: url("/assets/img/16pic.jpg");
    height: 300px;
    width: 300x;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; 
}

.bg-left{
    background: url("/assets/img/16pic.jpg");
    height: 300px;
    width: 300x;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.link{
    list-style: none;
  a{
      color: #fff;

  }  
}
    

